body {
background-color:#A9A9A9;

    font-family: Trebuchet MS, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ff6b00;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color:#32CD32;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
